
/*form1*/

.form1
{
    background-color: black;

    height: 10cm;
    width: 5cm;
    background-image: url(image/sad.jpg);
    transform: rotateZ('400');
    background-size: 14cm;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
        
    border: 4px solid #000;
    border-right: 0px;

    

    
}
/**/

/*pas arrier plan web*/
body
{
    background-color:blue;
}
/**/

/*heur propriéter (couleur ext)*/
.heur
{
    color: white;
    text-align: center;
    position: absolute;

}

/**/

/*form2 = coter qui se ferme */
.form2
{
    background-color: black;
    width: 5cm;
    height: 10cm;
    background-image: url(image/sad.jpg);
    background-size: 14cm;
    background-repeat: no-repeat;
    border: 4px solid #000;
    border-top-left-radius: 5px;
    margin-left: 3px;
    border-bottom-left-radius: 2px;
    border-right: 0px;
    z-index: -1;
    
}





/**/






/*conteneur*/

.conteneur

{
    margin-left: 35%;   
    padding-top: 1cm;
    display: flex;
    position: absolute;
    
}

.annimation
{
    transform-style: preserve-3d;  
    position: absolute;
    margin-left: -3px;
    height: 100%;
    width: 200%;
}

#check
{
    margin-left: 45%;
    margin-top: 5%;
}


#check:checked ~  .conteneur .annimation
{

animation: ouverture 2s linear;

animation-fill-mode: forwards;
}

#check:not(checked) ~ .conteneur .annimation
{

    animation: fermeture 2s linear;
    
    animation-fill-mode: forwards;  
}

#check:checked ~ .conteneur .heur
{

    animation: heur 2s linear;
    
    animation-fill-mode: forwards;

    

}

#check ~ .conteneur .heur
{

    animation: heurf 2s linear;
    
    animation-fill-mode: forwards;

    

}


#check:not(checked) ~ .conteneur .annime 
{

    animation: fermeture2 2s linear;
    
    animation-fill-mode: forwards;

    transform-style: preserve-3d;
}

#check:checked ~ .conteneur .annime 
{

    animation: ouverture2 2s linear;
    
    animation-fill-mode: forwards;
    transform-style: preserve-3d;



}

/**/


/*3D*/

.back
{
    margin-top: -384px;
    background-color: #000;
    background-image: url(image/sans.png);
    width: 5.18cm;
    transform: translateZ(10px);
    height: 10.10cm;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
    
}


.back2
{
    margin-top: -98.99%;
    background-image: url(image/sans.png);
    transform: translateZ(1px);
    background-color: red;
    height: 90%;
    width: 5cm;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-left: 2px;
}

.back3
{
    margin-top: -99%;
    background-image: url(image/sans.png);
    transform: translateZ(2px);
    background-color: red;
    height: 90%;
    width: 5cm;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-left: 2px;
}


.back4

{
    margin-top: -98.85%;
    background-image: url(image/sans.png);
    transform: translateZ(3px);
    background-color: red;
    height: 90%;

    width: 5cm;
    margin-left: 2px;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;

}

.back5

{
    margin-top: -98.85%;
    background-image: url(image/sans.png);
    transform: translateZ(4px);
    background-color: red;
    height: 90%;
    width: 5cm;
    margin-left: 0cm;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-left: 2px;
}

.back6
{
    margin-top: -92%;
    background-image: url(image/sans.png);
    transform: translateZ(5px);
    background-color: red;
    height: 83%;
    margin-left: 2px;
    width: 5cm;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.back7
{
    margin-top: -92%;
    background-image: url(image/sans.png);
    transform: translateZ(6px);
    background-color: red;
    height: 85%;
    width: 5cm;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-left: 2px;
}
.back8
{
    margin-top: -99%;
    background-image: url(image/sans.png);
    transform: translateZ(7px);
    background-color: red;
    height: 90%;
    margin-left: 2px;
    width: 5cm;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.back9
{
    margin-top: -98.81%;
    margin-left: 0.06cm;
    background-image: url(image/sans.png);
    transform: translateZ(8px);
    background-color: red;
    height: 90%;
    margin-left: 2px;
    width: 4.5cm;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.back10
{
    margin-top: -98.61%;
    background-image: url(image/sans.png);
    transform: translateZ(9px);
    background-color: red;
    height: 90%;

    width: 5cm;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-left: 2px;
}

.back11
{
    margin-top: -100%;
    background-image: url(image/sans.png);
    transform: translateZ(1px);
    background-color: red;
    height: 90%;
    margin-left: 2px;
    width: 5cm;
    background-size: 80%;
    background-position: 50%;
    background-repeat: no-repeat;
}

/**/

/*annimation*/
.annime
{
    transform-style: preserve-3d;


}



@keyframes ouverture

{
    0%
    {
    
        transform:perspective(1000px) rotate3d(0,1,0,0deg);

    }


    100%
    {
        transform:perspective(1000px) rotate3d(0,1,0,180deg);
        
        
    }
}




@keyframes fermeture

{
    0%
    {
    
        transform:perspective(1000px) rotate3d(0,1,0,180deg);

    }


    100%
    {
        transform:perspective(1000px) rotate3d(0,1,0,0deg);
  
        
        
    }
    
}


@keyframes heur


{

0%
{
    transform:perspective(10px)  ;
    margin-left: -5%;
    margin-top: -1%; 
    opacity: 3%;  
}

100%
{
    transform:perspective(10px)  ;
    margin-left: 74%;
    margin-top: -5%;
    z-index: 1;
    
}

}


@keyframes heurf


{

0%
{
    transform:perspective(10px)  ;
    margin-left: 81%;
    z-index: 1;
    margin-top: -5%;
}

100%
{
    transform:perspective(10px)  ;
    margin-left: -10%;
    margin-top: 10%;
    margin-top: -1%;
    opacity: 3%;    
    
}

}

/**/





/*cam avent*/



.cam-avent
{
    width: 20px;
    margin-left: 6px;
    margin-top: 4px;
    height: 20px;
    border-radius: 20px;
    background: black;  
}
/**/

/*application*/

.app-youtube
{
    text-decoration: none;
    color: white;
    margin-top: -6px;
    transform: translateZ(600px);
}


.youtub
{
    width: 1cm;
    margin-top: 100px;
    margin-left: 10px;

    
}

.youtub:hover
{

    margin-top: 100px;
    margin-left: 10px;
    width: 1.10cm;
    
}

.twit
{
    width: 5cm;
    margin-left: -60px;
}

.twit:hover
{

    width: 5.10cm;
}
.app-twit
{
    text-decoration: none;
    color: white;
    margin-top: -20px;
    margin-left: 10px;
    transform: translateZ(600px);
}

.cam-png
{
    width: 109px;
    margin-top: 50px;

    margin-left: -30px;
}

.cam-png:hover
{
    width: 112px;
    margin-top: 50px;

    margin-left: -30px;
}

.camera-text
{
    color: white;
    margin-top: -8px;
}


.app
{
    height: 10px;
    width: 10px;
    position: absolute;
}

a {
    text-decoration: none;
}



@keyframes app 
{
    0%
    {
        margin-left: 0px;
        opacity: 3%;  
    }

    100%
    {
        margin-left: 50%;
        z-index: 1;
    }
}


@keyframes appf
{
    0%
    {
        margin-left: 50%;
    }

    100%
    {
        margin-left: 0px;
        z-index: 0;
        opacity: 3%;  
    }
}

#check:checked ~ .conteneur .app
{

    animation: app 2s linear;
    
    animation-fill-mode: forwards;

    

}

#check:not(checked) ~ .conteneur .app
{

    animation: appf 2s linear;
    
    animation-fill-mode: forwards;

    

}

/**/


/*camera arrier*/


.camera-dos
{
    background-color: aliceblue;
    width: 16%;
    height: 13%;
    
    border-radius: 20px;
    padding-top: 20%;
    margin-left: 5%;
    transform: translateZ(10px);
    
}

.cam1
{
    width: 20px;
    margin-left: 6px;
    height: 20px;
    border-radius: 20px;
    background: black;
    margin-top: -30px;
    margin-bottom: 5px;
}

.cam2
{
    width: 20px;
    margin-left: 6px;
    height: 20px;
    border-radius: 20px;
    background: black;
    margin-bottom: 5px;
}

.cam3
{
    width: 20px;
    margin-left: 6px;
    height: 20px;
    border-radius: 20px;
    background: black;  
}

/**/



/*haut de barre*/

.batteri
{
    width: 70px;
    margin-left: -100px;

}

.haut
{
    margin-left:50px;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
}


#check:checked ~  .conteneur .haut
{

animation: bat 2s linear;

animation-fill-mode: forwards;
}

#check:not(checked) ~ .conteneur .haut
{

    animation: batf 2s linear;
    
    animation-fill-mode: forwards;  
}



@keyframes bat 
{
    0%
    {
        margin-left: 150%;
        opacity: 3%;  
    }

    100%
    {
        margin-left: 50%;
        
    }
}


@keyframes batf
{
    0%
    {
        margin-left: 50%;
    }

    100%
    {
        margin-left: 150px;
        z-index: 0;
        opacity: 3%;  
    }
}


/*google*/


.chercher
{
    border-radius: 40px;
    margin-left: 5%;
    margin-top: -4px;
    margin-bottom: -2.3cm;
    width: 3cm;
    text-align: center;
    position: relative;
}


@keyframes cher 
{
    0%
    {
        margin-left: -4px;
        opacity: 3%;  
    }

    100%
    {
        margin-left: 3px;
        z-index: 1;
    }
}


@keyframes cherf
{
    0%
    {
        margin-left: -4px;
    }

    100%
    {
        margin-left: 3px;
        z-index: 0;
        opacity: 3%;  
    }
}

#check:checked ~ .conteneur .rech
{

    animation: cher 2s linear;
    
    animation-fill-mode: forwards;

    

}

#check:not(checked) ~ .conteneur .rech
{

    animation: cherf 2s linear;
    
    animation-fill-mode: forwards;  

}
/**/


/*app a droite*/

.app-droite

{
    height: 10px;
    width: 10px;
    margin-top: -400px;
    margin-left: 70px;
    position: absolute;
}

.app-tiktok
{
    text-decoration: none;
    color: white;
    margin-top: -15px;
    margin-left: 60px;
    transform: translateZ(600px);

    font-size: 1rem;
}


.tiktok
{
    width: 160px;
    margin-top: 200px;


    
}

.tiktok:hover
{

    margin-top: 200px;
    margin-left: 10px;
    width: 162px;
    height: 65px;
    
}




@keyframes tik 
{
    0%
    {
        margin-left: -9px;
        opacity: 3%;  
    }

    100%
    {
        margin-left: 110px;
        
    }
}


@keyframes tikf
{
    0%
    {
        margin-left: 110px;
        transform: scaleZ(100px);
        z-index: 1;
    }

    100%
    {
        margin-left: -9px;
        z-index: 1;
        transform: scaleZ(100px);
        opacity: 1%;  
    }
}

#check:checked ~ .conteneur .app-droite
{

    animation: tik 2s linear;
    
    animation-fill-mode: forwards;

    

}

#check:not(checked) ~ .conteneur .app-droite
{

    animation: tikf 1s linear;
    
    animation-fill-mode: forwards;

    

}


/**/


/*météo*/

#widget_autocomplete_preview
{
    margin-top: 4cm;
}
